# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Testes e cobertura
.pytest_cache/
.coverage
htmlcov/

# IDEs e editores
.vscode/
.idea/

# Logs
*.log

# Arquivos de sistema
.DS_Store
Thumbs.db
